{% load static %}


 {%block content%}
    <div class="footer">
        <div class="footer-iit">IIT GUWAHATI'S</div>
        <div class="footer-alcher">ALCHERINGA</div>
        <span class="footer-divahunk">D<span class="italic-footer">I</span>VA H<span class="italic-footer">U</span>NK</span>
        <div class="contact">
            <div class="contact-info">
                <span class="name">Siddant Singh</span>
                <span class="phone">+91 9310859978</span>
                <span class="email">siddant.s@alcheringa.in</span>
            </div>
            <div class="contact-info">
                <span class="name">Siddant Singh</span>
                <span class="phone">+91 9310859978</span>
                <span class="email">siddant.s@alcheringa.in</span>
            </div>
            <div class="following">
                <span style="margin-bottom: 1.5vh;font-size:1.12vw;">Follow us on</span>
                <div id="footer-icons">
                    <a href="/" target="_blank"><i class="bi bi-instagram" style=" color:white;font-size:1.5vw;"></i></a>
                    <a href="" target="_blank"><i class="bi bi-facebook" style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i></a>
                    <a href="https://twitter.com/alcheringaiitg"  target="_blank"><i class="bi bi-twitter" style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i></a>
                    <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><i class="bi bi-youtube" style="margin-left: 1.5vw; color:white;font-size:1.5vw;"></i></a>
                </div>
                
          
            </div>

        </div>
        <div class="creator-info">
            <div style="display: inline;">Designed and Developed by <p style="display: inline;border-bottom:1px solid white;">Alcher Creatives</p> & <p style="display: inline;;border-bottom:1px solid white"> Alcher Web Operations</p> </div>
            <div class="business-contact" >
                <p style="margin-bottom:0.5vh;">For Business Enquiries</p>
                <p style="margin-top:0.5vh;margin-bottom:0vh;">publicrelations24@alcheringa.in</p>
            </div>
        </div>
    </div>



    <div class="mobile-footer">
        <div class="footer-iit">IIT GUWAHATI'S</div>
        <div class="footer-alcher">ALCHERINGA</div>
        <h1 style="margin-top:3vw;"class="footer-divahunk">D<span class="italic-footer" style="font-size: 10vw;">I</span>VA</h1>
        <h1 class="footer-divahunk">H<span class="italic-footer" style="font-size: 10vw;">U</span>NK</h1>
        <div class="contact-footer">
            <div class="people-contact">
                <div style="margin-bottom:4vh"class="contact-info">
                    <span class="name">Siddant Singh</span>
                    <span class="phone">+91 9310859978</span>
                    <span class="email">siddant.s@alcheringa.in</span>
                </div>
                <div class="contact-info">
                    <span class="name">Siddant Singh</span>
                    <span class="phone">+91 9310859978</span>
                    <span class="email">siddant.s@alcheringa.in</span>
                </div>
            </div>
            <div class="following-footer">
                <p style="margin-bottom:0px;margin-top:0px;font-size:2.2vw">Follow us</p>
                <p style="margin-top:0px;font-size:2.2vw">on</p>
                <a href="/" target="_blank"><i class="bi bi-instagram" style=" color:white;font-size:3vw;"></i></a>
                <a href="" target="_blank"><i class="bi bi-facebook" style=" color:white;font-size:3vw;"></i></a>
                <a href="https://twitter.com/alcheringaiitg"  target="_blank"><i class="bi bi-twitter" style=" color:white;font-size:3vw;"></i></a>
                <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><i class="bi bi-youtube" style=" color:white;font-size:3vw;"></i></a>
            </div>
        </div>
        <div style="display: inline;font-size:2.2vw;width:100%;margin-left:10%;margin-bottom:2vh">Designed and Developed by <p style="display: inline;border-bottom:1px solid white;">Alcher Creatives</p> & <p style="display: inline;;border-bottom:1px solid white"> Alcher Web Operations</p> </div>

    </div>
    {%endblock content%}

