body{
    background-color:#222222;
}

.vote_page{
    padding: 3vw 5.8vw 6vw 5.8vw;


}

.tab.active{
    color: #91B6FF ;
    border-bottom: 0.5vw solid #91B6FF;
}

.switch_option{
    color: #737373;
    font-size: 4.5vw;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    letter-spacing: -0.2vw;
    font-style: normal;
    font-weight: 770;
}

.tab{
    cursor: pointer;
}

.alcher_hunks{
    margin-left: 3vw;
}

.vote_text{
    color: #F1F1F1;
    font-family: 'Uncut Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7vw;
    /* letter-spacing: -0.1vw;   */
    padding-top: 2vw;
}

.divas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27vw, 1fr));
    gap: 1.6vw;
}

.hunks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27vw, 1fr));
    gap: 1.6vw;
}

.img_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participants > div {
    display: none;
}

.participants > div.active {
    display: grid;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.text_vote {
    display: none;
}

.text_vote.active {
    display: block;
}

.img_of_participant{
    width: 28vw; 
    height: auto;
}

.voting{
    position: absolute;
    text-align: center;
    top: 64%;
}

.vote_button{
    /* width: 15vw; */
    /* height: auto; */
    cursor: pointer;
    background-color: #91B6FF;
    padding: 0.3vw 3vw 0.3vw 3vw;
    border:  0.2vw solid black;
    border-radius: 30px;
}

.name_of_participant{
    font-size: 1.5vw;
    font-family: "FONTSPRING DEMO - Freigeist Con Black", sans-serif;
    font-weight: 800;
}

.vote{
    font-size: 2.5vw;
    font-weight: 850;
    font-family: "FONTSPRING DEMO - Freigeist Con Black", sans-serif;
}

.img_of_heart{
    width: 2.1vw;
    height: auto;
    padding-left: 0.5vw;
}

@media screen and (max-width: 375px) {
    .vote{
        font-size: 3vw;
    }

    .img_of_heart{
        width: 2.3vw;
    }

    /* .vote_button{
        margin-top: -1vh;
    } */

    .name_of_participant{
        margin-top: -0.3vh;
    }
}